th {
  font-weight: bold !important;
}

td {
  font-size: 16px !important;
}

h2 {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

h2.book-heading {
  width: 75%;
}

.MuiTextField-root {
  height: 50px;
  margin: 20px !important;
}

.MuiInputLabel-root {
  top: -7px !important;
}

button:disabled {
  background-color: lightgray;
}
