ul {
  border: 1px solid black;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  width: 90%;
  margin: 10px auto;
}

li:last-child {
  border-bottom: none;
}

button {
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}
