form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
  input[type="tel"],
  input[type="email"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  width: 200px;
}

button[type="submit"], input[type="submit"] {
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #dc3545;
}

.text-center {
  text-align: center;
}

.span-link {
  color: #dc3545;
  cursor: pointer;
}

.error-message{
  color: #dc3545;
  font-size: 12px;
}